html,
body {
    font-size: 14px;
    min-height: 100vh;
}

html,
body,
ul,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Microsoft Yahei'
}

html,
body,
input,
button,
textarea,
select,
img,
span,
p,
a,
div{
    font-family: 'Microsoft Yahei'
}

@import 'config';
a {
    color: $themeColor;
    text-decoration: none;
}
