@import 'mixin';
.kit-panel {
    display: flex;
    >h3 {
        display: block
    }
}

.panel {
    flex: 1;
    margin-right: 1rem;
    @include radius;
    box-shadow: 0 0 .1px $darkerGrey;
    h3 {
        @include head($color: $white);
    }
    .panel-bd {
        padding: 1rem;
    }
    .link-more {
        display: block;
        margin-top: .5rem;
        text-align: right;
        cursor: pointer;
    }
    .hd-success {
        background: $sucColor;
    }
    .hd-warm {
        background: $warmColor;
    }
    .hd-default {
        background: $lightGrey;
    }
    .hd-danger {
        background: $dangerColor;
    }
    .hd-theme {
        background: $themeColor;
    }
}